.creator-title {
  font-family: "serif";
}

.creator-subtitle {
  font-family: "serif";
}

.categories button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.all-products-title {
  font-family: "serif";
  margin-top: 20px;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-item img {
  margin-right: 10px;
}
.product-list {
  border: 2px ridge;
  padding: 10px;
}
.product-item {
  margin-bottom: 15px;
}
.product-item img {
  display: block;
  margin: 0 auto 10px;
}